<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="brand">

		<div class="card">
			<div class="card-header">Marka Talebi</div>
			<div class="card-body">

				<div class="form-group form-row">
					<div class="col-md-2 col-sm-2">
						<label for="name">Marka Adı</label>
					</div>
					<div class="col-md-4 col-sm-4">
						<p th:text="*{name}" class="form-control-static"></p>
					</div>

				</div>


			</div>
		</div>

		<div class="card">
			<div class="card-header">Sınıflar</div>
			<div class="card-body">

				<div class="form-group form-row">
					<div class="input-group">

						<div class="form-check">
							<input type="checkbox" th:field="*{class_1}" disabled="disabled"></input>
							01
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_2}" disabled="disabled"></input>
							02
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_3}" disabled="disabled"></input>
							03
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_4}" disabled="disabled"></input>
							04
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_5}" disabled="disabled"></input>
							05
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_6}" disabled="disabled"></input>
							06
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_7}" disabled="disabled"></input>
							07
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_8}" disabled="disabled"></input>
							08
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_9}" disabled="disabled"></input>
							09
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_10}" disabled="disabled"></input>10
						</div>
					</div>
				</div>

				<div class="form-group form-row">
					<div class="input-group">

						<div class="form-check">
							<input type="checkbox" th:field="*{class_11}" disabled="disabled"></input>11
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_12}" disabled="disabled"></input>12
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_13}" disabled="disabled"></input>13
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_14}" disabled="disabled"></input>14
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_15}" disabled="disabled"></input>15
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_16}" disabled="disabled"></input>16
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_17}" disabled="disabled"></input>17
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_18}" disabled="disabled"></input>18
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_19}" disabled="disabled"></input>19
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_20}" disabled="disabled"></input>20
						</div>
					</div>
				</div>

				<div class="form-group form-row">
					<div class="input-group">

						<div class="form-check">
							<input type="checkbox" th:field="*{class_21}" disabled="disabled"></input>21
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_22}" disabled="disabled"></input>22
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_23}" disabled="disabled"></input>23
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_24}" disabled="disabled"></input>24
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_25}" disabled="disabled"></input>25
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_26}" disabled="disabled"></input>26
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_27}" disabled="disabled"></input>27
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_28}" disabled="disabled"></input>28
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_29}" disabled="disabled"></input>29
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_30}" disabled="disabled"></input>30
						</div>

					</div>
				</div>

				<div class="form-group form-row">
					<div class="input-group">

						<div class="form-check">
							<input type="checkbox" th:field="*{class_31}" disabled="disabled"></input>31
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_32}" disabled="disabled"></input>32
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_33}" disabled="disabled"></input>33
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_34}" disabled="disabled"></input>34
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_35}" disabled="disabled"></input>35
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_36}" disabled="disabled"></input>36
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_37}" disabled="disabled"></input>37
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_38}" disabled="disabled"></input>38
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_39}" disabled="disabled"></input>39
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_40}" disabled="disabled"></input>40
						</div>

					</div>
				</div>

				<div class="form-group form-row">
					<div class="input-group">

						<div class="form-check">
							<input type="checkbox" th:field="*{class_41}" disabled="disabled"></input>41
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_42}" disabled="disabled"></input>42
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_43}" disabled="disabled"></input>43
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_44}" disabled="disabled"></input>44
						</div>
						<div class="form-check">
							<input type="checkbox" th:field="*{class_45}" disabled="disabled"></input>45
						</div>


					</div>
				</div>

			</div>
		</div>

		<div class="card">
			<div class="card-header">Hesap</div>
			<div class="card-body">

				<div class="form-group form-row">
					<div class="col-md-2 col-sm-2">
						<label for="partner.name" class="control-label">Harç</label>
					</div>
					<div class="col-md-2 col-sm-2">
						<p th:text="*{fee}" class="form-control"></p>

					</div>
					<div class="col-md-2 col-sm-2">
						<label for="partner.name" class="control-label">Hizmet</label>
					</div>
					<div class="col-md-2 col-sm-2">
						<p th:text="*{service}" class="form-control"></p>

					</div>
					<div class="col-md-2 col-sm-2">
						<label for="partner.name" class="control-label">Toplam</label>
					</div>
					<div class="col-md-2 col-sm-2">
						<p th:text="*{total}" class="form-control"></p>

					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>